a.ilc_qetitem_ErrorTextItem
{
	padding: 2px;
	text-decoration: none;
}

a.ilc_qetitem_ErrorTextItem:hover
{
	color: #000000;
	text-decoration: none;
	background-color: #D0D0D0;
}

a.ilc_qetitem_ErrorTextSelected
{
	border-style: none;
	background-color: ;
}

a.ilc_link_ExtLink
{
	text-decoration: underline;
}

a.ilc_link_FileLink
{
	text-decoration: underline;
}

a.ilc_link_GlossaryLink
{
	text-decoration: underline;
}

a.ilc_glo_ovclink_GlossaryOvCloseLink
{
	text-decoration: underline;
	font-weight: normal;
}

a.ilc_glo_ovuglistlink_GlossaryOvUGListLink
{
	font-weight: normal;
}

a.ilc_glo_ovuglink_GlossaryOvUnitGloLink
{
	font-weight: normal;
}

a.ilc_qimgd_ImageDetailsLink
{
	font-size: 90%;
}

a.ilc_link_IntLink
{
	text-decoration: underline;
}

a.ilc_page_lnavlink_LeftNavigationLink
{
	background-position: left center;
	color: #FFFFFF;
}

a.ilc_page_lnavlink_LeftNavigationLink:hover
{
	color: #d9e0e9;
	text-decoration: none;
}

a.ilc_marker_Marker
{
	background-repeat: no-repeat;
	cursor: pointer;
	display: block;
	height: 32px;
	width: 24px;
	position: absolute;
	background-image: url('../images/icon_pin.svg');
}

a.ilc_marker_Marker:hover
{
	background-image: url('../images/icon_pin_on.svg');
	background-repeat: no-repeat;
}

a.ilc_page_rnavlink_RightNavigationLink
{
	color: #FFFFFF;
	background-position: left center;
}

a.ilc_page_rnavlink_RightNavigationLink:hover
{
	color: #d9e0e9;
	text-decoration: none;
}

a.ilc_rte_mlink_RTELink
{
	font-size: 100%;
	margin: 1px;
	margin-top: 10px;
	margin-right: 5px;
	margin-bottom: 10px;
	margin-left: 5px;
	padding-right: 3mm;
	padding-top: 1mm;
	border-style: none;
	padding-bottom: 1mm;
	text-decoration: none;
	padding-left: 3mm;
	border-width: 1px;
	background-color: #708aad;
	text-align: center;
	height: 50px;
	color: #FFFFFF;
}

a.ilc_rte_mlink_RTELink:hover
{
	background-color: #577399;
}

a.ilc_rte_mlink_RTELinkDisabled
{
	background-color: #b4b4b4;
}

a.ilc_rte_mlink_RTELinkDisabled:hover
{
	background-color: #b4b4b4;
}

a.ilc_rte_tclink_RTETreeControlLink
{
	color: #557196;
}

a.ilc_rte_tlink_RTETreeCurrent
{
	background-color: #FFFF9D;
}

a.ilc_rte_tlink_RTETreeLink
{
	color: #557196;
}

div.ilc_section_Additional
,div a.ilc_section_Additional
{
	background-position: 12px center;
	background-repeat: no-repeat;
	background-image: url('../images/additional.svg');
	padding-left: 60px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #f5f7fa;
	border-style: none;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}

div.ilc_section_AdvancedKnowledge
,div a.ilc_section_AdvancedKnowledge
{
	background-repeat: no-repeat;
	background-image: url('../images/advknowledge.svg');
	padding-left: 60px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #f5f7fa;
	margin-top: 10px;
	margin-bottom: 10px;
	background-position: 10px center;
}

div.ilc_qanswer_Answer
{
	margin: 3px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 5px;
}

div.ilc_section_Attention
,div a.ilc_section_Attention
{
	padding-left: 60px;
	padding-bottom: 20px;
	padding-right: 20px;
	padding-top: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
	background-position: 10px;
	background-repeat: no-repeat;
	background-color: #fee6d4;
	background-image: url('../images/attention.svg');
}

div.ilc_section_Background
,div a.ilc_section_Background
{
	background-color: #FFFFFF;
	padding-top: 10px;
	margin-bottom: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
}

div.ilc_section_Block
,div a.ilc_section_Block
{
	padding-bottom: 10px;
	padding-right: 20px;
	padding-top: 10px;
	padding-left: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
}

div.ilc_page_bnav_BottomNavigation
{
	padding-top: 15px;
	border-right-width: 1px;
	border-style: none;
	border-left-width: 1px;
	border-top-width: 0px;
	border-bottom-width: 1px;
	background-color: ;
	margin: 0px;
	background-image: url('../images/header.png');
	padding-right: 5px;
	padding-bottom: 15px;
	padding-left: 5px;
	font-size: 110%;
	color: #2e3c50;
}

div.ilc_section_Button:hover
,div a.ilc_section_Button:hover
{
	background-color: #577399;
}

div.ilc_section_Citation
,div a.ilc_section_Citation
{
	background-image: url('../images/citation.svg');
	background-color: #f5f7fa;
	padding-left: 60px;
	padding-bottom: 20px;
	padding-right: 20px;
	padding-top: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
	background-repeat: no-repeat;
	background-position: 12px;
}

div.ilc_section_Confirmation
,div a.ilc_section_Confirmation
{
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
	padding-left: 60px;
	background-image: url('../images/checked.svg');
	background-color: #f0f7ea;
	background-position: 10px;
	background-repeat: no-repeat;
}

div.ilc_iim_ContentPopup
{
	padding-bottom: 5px;
	padding-left: 10px;
	border-color: #A0A0A0;
	background-color: #FFFFFF;
	border-width: 2px;
	border-style: solid;
	padding-top: 5px;
	padding-right: 10px;
}

div.ilc_qover_Correct
{
	padding-top: 20px;
	padding-right: 20px;
	background-image: url('../images/correct.svg');
	padding-bottom: 20px;
	padding-left: 60px;
	background-position: 10px;
	background-repeat: no-repeat;
	border-style: none;
	background-color: #f0f7ea;
	margin-bottom: 10px;
	margin-top: 10px;
}

div.ilc_section_Example
,div a.ilc_section_Example
{
	background-color: #f5f7fa;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 60px;
	background-position: 10px center;
	margin-bottom: 10px;
	margin-top: 10px;
	background-image: url('../images/example.svg');
	background-repeat: no-repeat;
}

div.ilc_section_Excursus
,div a.ilc_section_Excursus
{
	padding-left: 60px;
	padding-bottom: 20px;
	margin-right: 2em;
	margin-left: 2em;
	padding-top: 20px;
	background-image: url('../images/excursus.svg');
	background-repeat: no-repeat;
	background-position: 10px center;
	padding-right: 20px;
	margin-bottom: 4em;
	margin-top: 4em;
	border-style: none;
	background-color: #f5f7fa;
	border-width: 1px;
}

div.ilc_qfeedr_FeedbackRight
{
	margin-top: 10px;
	padding-top: 20px;
	margin-bottom: 10px;
	border-style: none;
	background-color: #f0f7ea;
	padding-left: 60px;
	padding-bottom: 20px;
	padding-right: 160px;
	background-image: url('../images/correct.svg');
	background-position: 10px;
	background-repeat: no-repeat;
}

div.ilc_qfeedw_FeedbackWrong
{
	margin-top: 10px;
	padding-top: 20px;
	margin-bottom: 10px;
	border-style: none;
	background-color: #fef2ea;
	padding-left: 60px;
	padding-bottom: 20px;
	background-position: 24px;
	padding-right: 160px;
	background-image: url('../images/exclamation.svg');
	background-repeat: no-repeat;
}

div.ilc_flist_cont_FileListContainer
{
	text-indent: 7px;
	padding-bottom: 10px;
	border-color: #4C6586;
	border-style: solid;
	border-width: 1px;
	color: #FFFFFF;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}

div.ilc_flist_head_FileListHeading
{
	margin-top: 0px;
	background-position: 10px;
	background-repeat: no-repeat;
	padding-left: 50px;
	padding-bottom: 10px;
	padding-right: 20px;
	padding-top: 10px;
	text-align: left;
	color: #FFFFFF;
	margin-bottom: 10px;
	font-weight: bold;
	background-image: url('../images/download.svg');
	background-color: #4C6586;
}

div.ilc_sco_fmess_FinalMessage
{
	text-align: center;
	background-color: #f5f7fa;
	border-style: none;
	border-width: 1px;
	padding: 50px;
	font-size: 125%;
	margin: 100px;
}

div.ilc_page_fn_Footnote
{
	margin-bottom: 5px;
	margin-top: 5px;
}

div.ilc_glo_overlay_GlossaryOverlay
{
	background-color: #f5f7fa;
	border-style: none;
	padding-top: 5px;
	border-width: 2px;
	padding-left: 10px;
	padding-bottom: 5px;
	padding-right: 10px;
}

div.ilc_ha_icntr_HAccordICntr
{
	margin-bottom: 5px;
	margin-right: 5px;
	background-color: #FFFFFF;
}

div.ilc_ha_icont_HAccordICont
{
	padding-top: 5px;
	padding-right: 3px;
	padding-bottom: 5px;
	padding-left: 3px;
	background-color: #FFFFFF;
}

div.ilc_ha_ihead_HAccordIHead
{
	min-height: 300px;
	color: #909090;
	background-position: center 10px;
	background-repeat: no-repeat;
	background-image: url('../images/tree_exp.svg');
	padding-bottom: 3px;
	padding-left: 23px;
	padding-right: 15px;
	padding-top: 13px;
	background-color: #F9F9F9;
	cursor: pointer;
}

div.ilc_ha_ihead_HAccordIHead:hover
{
	color: #909090;
	background-color: #FFFFD0;
}

div.ilc_ha_ihcap_HAccordIHeadCap
{
	text-transform: uppercase;
	font-size: 20px;
	transform-origin: 0px 0px;
	-webkit-transform-origin: 0px 0px;
	-moz-transform-origin: 0px 0px;
	-ms-transform-origin: 0px 0px;
	left: 10px;
	width: 1px;
	white-space: nowrap;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	position: relative;
	top: 20px;
}

div.ilc_qover_Incorrect
{
	padding-left: 60px;
	background-image: url('../images/exclamation.svg');
	background-repeat: no-repeat;
	background-position: 24px;
	padding-bottom: 20px;
	padding-right: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
	background-color: #fef2ea;
	border-style: none;
	padding-top: 20px;
}

div.ilc_section_Information
,div a.ilc_section_Information
{
	background-position: 10px;
	background-repeat: no-repeat;
	background-image: url('../images/information.svg');
	background-color: #f5f7fa;
	padding-left: 60px;
	padding-bottom: 20px;
	padding-right: 20px;
	padding-top: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
}

div.ilc_section_Interaction
,div a.ilc_section_Interaction
{
	margin-top: 10px;
	padding-top: 20px;
	margin-bottom: 10px;
	padding-right: 20px;
	padding-bottom: 20px;
	background-image: url('../images/interaction.svg');
	padding-left: 60px;
	background-color: #f5f7fa;
	background-position: 12px;
	background-repeat: no-repeat;
	border-width: 1px;
	border-color: #4C6586;
	border-style: solid;
}

div.ilc_section_Interaction:hover
,div a.ilc_section_Interaction:hover
{
	cursor: pointer;
}

div.ilc_page_lnav_LeftNavigation
{
	font-weight: bold;
	float: left;
	text-align: left;
	margin-top: 2px;
	vertical-align: middle;
}

div.ilc_section_Link
,div a.ilc_section_Link
{
	text-decoration: underline;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 60px;
	border-width: 1px;
	border-color: #4C6586;
	border-style: dashed;
	background-color: #FFFFFF;
	background-image: url('../images/link.svg');
	background-repeat: no-repeat;
	background-position: 10px;
}

div.ilc_section_Literature
,div a.ilc_section_Literature
{
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 60px;
	background-color: #f5f7fa;
	background-image: url('../images/literature.svg');
	background-repeat: no-repeat;
	background-position: 10px center;
}

div.ilc_media_caption_MediaCaption
{
	font-weight: bolder;
	font-size: 100%;
	padding: 20px;
	background-color: #FFFFFF;
}

div.ilc_section_Mnemonic
,div a.ilc_section_Mnemonic
{
	margin-top: 10px;
	margin-bottom: 10px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 60px;
	background-image: url('../images/mnemonic.svg');
	background-position: 14px center;
	background-repeat: no-repeat;
	text-align: left;
	background-color: #fcf7ca;
	border-style: none;
	padding-top: 20px;
}

div.ilc_page_Page
{
	min-height: 300px;
}

div.ilc_page_cont_PageContainer
{
	border-width: 1px;
	border-color: #D6D6D6;
	padding: 20px;
	margin: 0px;
	border-style: solid;
	background-color: #FFFFFF;
}

div.ilc_page_frame_PageFrame
{
	padding-left: 15px;
	padding-right: 15px;
	color: #2e3c50;
}

div.ilc_section_Remark
,div a.ilc_section_Remark
{
	padding-right: 20px;
	padding-top: 20px;
	padding-left: 60px;
	padding-bottom: 20px;
	background-position: 10px center;
	background-repeat: no-repeat;
	text-align: left;
	background-color: #f5f7fa;
	border-style: none;
	background-image: url('../images/remark.svg');
}

div.ilc_page_rnav_RightNavigation
{
	font-weight: bold;
	text-align: right;
	margin-top: 2px;
}

div.ilc_rte_menu_RTELinkBar
{
	border-top-width: 10px;
	border-bottom-width: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

div.ilc_rte_menu_RTELogo
{
	float: left;
}

div.ilc_rte_menu_RTEMenu
{
	background-color: #FFFFFF;
}

div.ilc_section_Separator
,div a.ilc_section_Separator
{
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 20px;
	border-width: 2px;
	padding-bottom: 20px;
	border-color: #4C6586;
	border-top-style: solid;
}

div.ilc_section_Special
,div a.ilc_section_Special
{
	padding-bottom: 20px;
	padding-top: 20px;
	padding-right: 20px;
	background-color: #f5f7fa;
	border-width: 1px;
	padding-left: 20px;
	border-style: none;
}

div.ilc_question_Standard
{
	background-color: #fbfbfb;
	padding-right: 160px;
	padding-left: 30px;
	padding-bottom: 60px;
	background-position: right 15px;
	color: #2e3c50;
	margin-top: 20px;
	margin-bottom: 10px;
	background-image: url('../images/question_mark_transp_big.svg');
	box-shadow: 0 3px 3px rgba(0,0,0,0.10), 0 6px 15px rgba(0,0,0,0.12);
	padding-top: 30px;
	background-repeat: no-repeat;
}

div.ilc_qover_StatusMessage
{
	padding-bottom: 7px;
}

div.ilc_qtitle_Title
{
	font-size: 140%;
	font-weight: normal;
	margin-bottom: 20px;
}

div.ilc_sco_title_Title
{
	border-color: #4C6586;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	padding-bottom: 3px;
	font-size: 140%;
	margin-bottom: 20px;
	font-weight: bold;
	margin-top: 5px;
}

div.ilc_page_tnav_TopNavigation
{
	padding-right: 5px;
	border-color: #D6D6D6;
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-width: 1px;
	background-color: ;
	border-bottom-width: 0px;
	margin: 0px;
	font-size: 110%;
	padding-left: 5px;
	background-image: url('../images/header.png');
	padding-top: 15px;
	padding-bottom: 15px;
	border-style: solid;
}

div.ilc_va_cntr_VAccordCntr
,div.ilc_va_cntr_AccordCntr
{
	margin-top: 5px;
}

div.ilc_va_icntr_VAccordICntr
,div.ilc_va_icntr_AccordICntr
{
	border-style: none;
	margin-bottom: 5px;
	background-color: ;
}

div.ilc_va_icont_VAccordICont
,div.ilc_va_icont_AccordICont
{
	padding-left: 30px;
	padding-bottom: 3px;
	background-color: #FFFFFF;
	padding-top: 3px;
	padding-right: 03px;
}

div.ilc_va_ihead_VAccordIHead
,div.ilc_va_ihead_AccordIHead
{
	font-size: 20px;
	text-transform: uppercase;
	border-style: none;
	background-position: 20px center;
	background-color: #F9F9F9;
	text-align: left;
	cursor: pointer;
	padding-bottom: 3px;
	padding-top: 3px;
	padding-left: 54px;
	color: #909090;
	padding-right: 3px;
	background-repeat: no-repeat;
	background-image: url('../images/tree_col.svg');
}

div.ilc_va_ihead_VAccordIHead:hover
,div.ilc_va_ihead_AccordIHead:hover
{
	background-color: #FFFFD0;
	background-position: 20px center;
}

em.ilc_em_Emph
,span.ilc_text_inline_Emph
{
	font-style: italic;
}

figure.ilc_media_cont_MediaContainer
{
	margin: 20px;
}

figure.ilc_media_cont_MediaContainerFull100
{
	box-shadow: 0 3px 3px rgba(0,0,0,0.10), 0 6px 15px rgba(0,0,0,0.12);
	margin: 10px;
	width: 100%;
}

figure.ilc_media_cont_MediaContainerHighlighted
{
	box-shadow: 0 3px 3px rgba(0,0,0,0.10), 0 6px 15px rgba(0,0,0,0.12);
	margin: 20px;
}

figure.ilc_media_cont_MediaContainerMax50
{
	box-shadow: 0 3px 3px rgba(0,0,0,0.10), 0 6px 15px rgba(0,0,0,0.12);
	max-width: 50%;
	margin: 10px;
}

figure.ilc_media_cont_MediaContainerSeparated
{
	margin: 40px;
}

h1.ilc_glo_ovtitle_GlossaryOvTitle
,div.ilc_text_block_GlossaryOvTitle
,html.il-no-tiny-bg body#tinymce.ilc_text_block_GlossaryOvTitle > p 
{
	margin-bottom: 10px;
	font-size: 120%;
	margin-top: 10px;
	font-weight: normal;
}

h1.ilc_heading1_Headline1
,div.ilc_text_block_Headline1
,html.il-no-tiny-bg body#tinymce.ilc_text_block_Headline1 > p 
{
	margin-bottom: 10px;
	margin-top: 10px;
	font-size: 140%;
}

h1.ilc_page_title_PageTitle
,div.ilc_text_block_PageTitle
,html.il-no-tiny-bg body#tinymce.ilc_text_block_PageTitle > p 
{
	font-weight: bold;
	text-align: left;
	white-space: normal;
	border-bottom-width: 1px;
	border-bottom-style: none;
	border-style: none;
	font-size: 140%;
	padding-bottom: 3px;
	margin-top: 15px;
	margin-bottom: 15px;
}

h2.ilc_heading2_Headline2
,div.ilc_text_block_Headline2
,html.il-no-tiny-bg body#tinymce.ilc_text_block_Headline2 > p 
{
	font-weight: normal;
	font-size: 120%;
	margin-top: 20px;
	margin-bottom: 10px;
}

h3.ilc_heading3_Headline3
,div.ilc_text_block_Headline3
,html.il-no-tiny-bg body#tinymce.ilc_text_block_Headline3 > p 
{
	font-weight: normal;
	margin-top: 15px;
	margin-bottom: 10px;
	font-size: 100%;
}

img.ilc_page_lnavimage_LeftNavigationImage
{
	background-position: left center;
	background-repeat: no-repeat;
	background-image: url('../images/play-button_left_white.svg');
	width: 20px;
	height: 20px;
	font-size: 120%;
	margin-bottom: 4px;
}

img.ilc_qimg_QuestionImage
{
	box-shadow: 0 3px 3px rgba(0,0,0,0.10), 0 6px 15px rgba(0,0,0,0.12);
	margin: 10px;
}

img.ilc_page_rnavimage_RightNavigationImage
{
	background-position: 0px center;
	width: 20px;
	background-image: url('../images/play-button_right_white.svg');
	background-repeat: no-repeat;
	margin-left: 5px;
	font-size: 120%;
	margin-bottom: 4px;
	height: 20px;
}

input.ilc_qsubmit_Submit
{
	color: #FFFFFF;
	padding: 0.5em;
	margin-top: 20px;
	background-color: #708BAE;
}

input.ilc_qinput_TextInput
{
	padding-left: 4px;
}

li.ilc_flist_li_FileListItem
{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 3px;
	padding-right: 3px;
}

li.ilc_qordli_OrderListItem
{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 0px;
	background-color: #dde3eb;
	margin-right: 0px;
	cursor: move;
	padding: 10px;
}

li.ilc_qordli_OrderListItemHorizontal
{
	float: left;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 10px;
	padding: 10px;
	background-color: #dde3eb;
	cursor: move;
}

p.ilc_text_block_Book
,html.il-no-tiny-bg body#tinymce.ilc_text_block_Book > p, #copg-editor-slate-content p.ilc_text_block_Book
{
	hyphens: auto;
	text-align: justify;
}

p.ilc_text_block_Button:hover
,html.il-no-tiny-bg body#tinymce.ilc_text_block_Button:hover > p, #copg-editor-slate-content p.ilc_text_block_Button:hover
{
	background-color: #5774A0;
}

p.ilc_text_block_List
,html.il-no-tiny-bg body#tinymce.ilc_text_block_List > p, #copg-editor-slate-content p.ilc_text_block_List
{
	margin-top: 3px;
	margin-bottom: 3px;
}

p.ilc_text_block_LoginButton
,html.il-no-tiny-bg body#tinymce.ilc_text_block_LoginButton > p, #copg-editor-slate-content p.ilc_text_block_LoginButton
{
	font-size: 20px;
	color: #243880;
	vertical-align: middle;
	text-align: center;
	padding: 5px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	border-width: 1px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-color: #BFBFBF;
	border-style: solid;
	background-color: #FAF9F8;
}

p.ilc_text_block_LoginButton:hover
,html.il-no-tiny-bg body#tinymce.ilc_text_block_LoginButton:hover > p, #copg-editor-slate-content p.ilc_text_block_LoginButton:hover
{
	background-color: #99A8D6;
}

p.ilc_text_block_Numbers
,html.il-no-tiny-bg body#tinymce.ilc_text_block_Numbers > p, #copg-editor-slate-content p.ilc_text_block_Numbers
{
	text-align: right;
}

p.ilc_text_block_Standard
,html.il-no-tiny-bg body#tinymce.ilc_text_block_Standard > p, #copg-editor-slate-content p.ilc_text_block_Standard
{
	margin-bottom: 10px;
	margin-top: 10px;
}

p.ilc_text_block_TableContent
,html.il-no-tiny-bg body#tinymce.ilc_text_block_TableContent > p, #copg-editor-slate-content p.ilc_text_block_TableContent
{
	line-height: 1.8em;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;
}

p.ilc_text_block_Verse
,html.il-no-tiny-bg body#tinymce.ilc_text_block_Verse > p, #copg-editor-slate-content p.ilc_text_block_Verse
{
	text-align: center;
}

span.ilc_text_inline_Accent
{
	color: #6EA03C;
}

span.ilc_text_inline_Attention
{
	color: #FA8228;
}

span.ilc_text_inline_Comment
{
	color: #82639E;
}

span.ilc_qetcorr_ErrorTextCorrected
{
	text-decoration: line-through;
	color: #808080;
}

span.ilc_text_inline_Important
{
	text-decoration: underline;
}

span.ilc_text_inline_Mnemonic
{
	padding-left: 4px;
	padding-right: 4px;
	background-color: #fcf7ca;
}

span.ilc_text_inline_Quotation
{
	letter-spacing: 0.2px;
	font-style: italic;
	font-family: serif;
	color: #CE73A8;
	font-size: 114%;
}

strong.ilc_strong_Strong
,span.ilc_text_inline_Strong
{
	font-weight: bold;
}

table.ilc_table_StandardTable
{
	border-collapse: collapse;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: ;
	border-color: #9EADBA;
}

td.ilc_table_cell_brandprimaryc1
,th.ilc_table_cell_brandprimaryc1
{
	border-style: solid;
	border-width: 1px;
	padding-bottom: 3px;
	padding-top: 3px;
	padding-right: 10px;
	padding-left: 10px;
	border-color: #FFFFFF;
	background-color: #f5f7fa;
}

td.ilc_table_cell_brandprimaryc2
,th.ilc_table_cell_brandprimaryc2
{
	border-style: solid;
	border-color: #FFFFFF;
	color: #FFFFFF;
	background-color: #b3c0d3;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 10px;
	padding-left: 10px;
	border-width: 1px;
}

td.ilc_table_cell_brandprimaryh
,th.ilc_table_cell_brandprimaryh
{
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #4C6586;
	padding-right: 10px;
	padding-top: 3px;
	color: #FFFFFF;
	padding-bottom: 3px;
	padding-left: 10px;
	border-width: 1px;
}

td.ilc_table_cell_brandprimarysecondaryc1
,th.ilc_table_cell_brandprimarysecondaryc1
{
	background-color: #c5dfab;
	border-style: solid;
	border-color: #FFFFFF;
	border-width: 1px;
	padding-left: 10px;
	padding-bottom: 3px;
	padding-right: 10px;
	padding-top: 3px;
}

td.ilc_table_cell_brandprimarysecondaryc2
,th.ilc_table_cell_brandprimarysecondaryc2
{
	padding-top: 3px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 3px;
	border-width: 1px;
	border-color: #FFFFFF;
	border-style: solid;
	background-color: #f0f7ea;
}

td.ilc_table_cell_brandprimarysecondaryh
,th.ilc_table_cell_brandprimarysecondaryh
{
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 10px;
	padding-left: 10px;
	color: #FFFFFF;
	border-color: #FFFFFF;
	border-width: 1px;
	border-style: solid;
	background-color: #6EA03C;
}

td.ilc_table_cell_Cell1
,th.ilc_table_cell_Cell1
{
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 3px;
	padding-left: 10px;
	background-color: #FFCCCC;
}

td.ilc_table_cell_Cell2
,th.ilc_table_cell_Cell2
{
	background-color: #CCCCFF;
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 3px;
	padding-left: 10px;
}

td.ilc_table_cell_Cell3
,th.ilc_table_cell_Cell3
{
	padding-left: 10px;
	padding-bottom: 3px;
	padding-right: 10px;
	padding-top: 3px;
	background-color: #CCFFCC;
}

td.ilc_table_cell_Cell4
,th.ilc_table_cell_Cell4
{
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 3px;
	padding-left: 10px;
	background-color: #FFFFCC;
}

td.ilc_table_cell_midgrayc1
,th.ilc_table_cell_midgrayc1
{
	border-style: solid;
	background-color: #f6f6f6;
	padding-top: 3px;
	padding-right: 10px;
	border-color: #FFFFFF;
	padding-bottom: 3px;
	border-width: 1px;
	padding-left: 10px;
}

td.ilc_table_cell_midgrayc2
,th.ilc_table_cell_midgrayc2
{
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 10px;
	padding-left: 10px;
	background-color: #d9d9d9;
	border-style: solid;
	border-color: #FFFFFF;
	border-width: 1px;
}

td.ilc_table_cell_midgrayh
,th.ilc_table_cell_midgrayh
{
	padding-top: 3px;
	padding-right: 10px;
	color: #FFFFFF;
	background-color: #434343;
	padding-left: 10px;
	padding-bottom: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	border-width: 1px;
}

td.ilc_table_cell_StandardCell1
,th.ilc_table_cell_StandardCell1
{
	background-color: #FFFFFF;
	border-style: solid;
	border-color: #4C6586;
	border-width: 1px;
	padding-left: 10px;
	padding-bottom: 3px;
	font-weight: normal;
	padding-top: 3px;
	padding-right: 10px;
}

td.ilc_table_cell_StandardCell2
,th.ilc_table_cell_StandardCell2
{
	border-width: 1px;
	border-style: solid;
	border-color: #4C6586;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 3px;
	padding-top: 3px;
	font-weight: normal;
	background-color: #FFFFFF;
}

td.ilc_table_cell_StandardHeader
,th.ilc_table_cell_StandardHeader
{
	font-weight: normal;
	padding-top: 3px;
	color: #FFFFFF;
	padding-bottom: 3px;
	border-width: 1px;
	border-color: #FFFFFF;
	padding-right: 10px;
	padding-left: 10px;
	border-style: solid;
	background-color: #4C6586;
}

td.ilc_table_cell_TransparentC
,th.ilc_table_cell_TransparentC
{
	border-width: 1px;
	border-color: #000000;
	border-style: solid;
	font-weight: normal;
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 3px;
	padding-left: 10px;
}

td.ilc_table_cell_TransparentH
,th.ilc_table_cell_TransparentH
{
	font-weight: normal;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 10px;
	padding-left: 10px;
	border-style: solid;
	border-color: #000000;
	border-width: 1px;
}

textarea.ilc_qlinput_LongTextInput
{
	padding-left: 4px;
}

ul.ilc_flist_FileList
{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

ul.ilc_qordul_OrderList
{
	padding: 0px;
	margin: 0px;
	list-style: none;
	list-style-position: outside;
}

ul.ilc_qordul_OrderListHorizontal
{
	list-style: none;
	margin: 0px;
	padding: 0px;
	list-style-position: outside;
}

div.ilc_ha_iheada_HAccordIHeadActive
{
	padding-top: 13px;
	padding-right: 15px;
	background-image: url('../images/tree_col.svg');
	color: #909090;
	padding-left: 25px;
	padding-bottom: 3px;
	background-color: #F9F9F9;
}

div.ilc_ha_iheada_HAccordIHeadActive:hover
{
	color: #909090;
}

div.ilc_va_iheada_VAccordIHeadActive
,div.ilc_va_iheada_AccordIHeadActive
{
	text-transform: uppercase;
	padding-bottom: 3px;
	font-size: 20px;
	padding-right: 3px;
	background-color: #F9F9F9;
	padding-top: 3px;
	padding-left: 54px;
	background-image: url('../images/tree_exp.svg');
	color: #909090;
}

div.ilc_va_iheada_VAccordIHeadActive:hover
,div.ilc_va_iheada_AccordIHeadActive:hover
{
	color: #909090;
}

