.login-pf body {
    background: lightgray;
}  

@media (max-width: 767px) {
    .login-pf body  {
        background: white;
    }

    div.kc-logo-text {
        margin: 0 auto;
    }
}


@media (max-height: 660px) {
    #kc-header-wrapper {
        padding: 0px;
    }

    #kc-header {
        margin-bottom: 0px;
    }

    .login-pf-page {
        padding-top: 0px;
    }
}

 

div.kc-logo-text {
    background-image: url(../images/hhnlogo.png);
    background-size: contain;
    width: 300px;
    height: 140px;
}



#hhn-footer {
    display: grid;
    justify-items: center;
    margin-top: 20px;
}